.login{
    display: grid;
    justify-items: center;
    gap: 20px;
}
.login form{
    display: grid;
    gap: 1rem;
}
.login form input {
    width: 300px;
    height: 30px;
}
.login form button{
    place-self: center;
    width: 100px;
    height: 2rem;
}
.login-signup{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
}