.signup{
    display: grid;
    justify-items: center;
    gap: 20px;
}

.signup form{
    display: grid;
    gap: 1rem;
}
.signup form input{
    width: 300px;
    height: 30px;
}
.signup form button{
    place-self: center;
    width: 100px;
    height: 2rem;
}

.signup-login{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
}